.navigation {
    width: 100%;
}

.list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 10px 10px 10px 20px;
}

.list_link {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    margin-right: 20px;
}

.list_link:focus {
    color: rgb(150,150,150);
}

@media(max-width: 1023px) {
    .activeMobile {
        align-items: center;
        clip-path: polygon(0% 0%, 38% 0, 100% 32%, 58% 100%, 0% 100%);
        display: flex;
        background-color: rgba(100, 100, 100, 0.7);
        bottom: 0;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        width: 50%;
    }
    .navigation {
        align-items: center;
        clip-path: polygon(0% 0%, 38% 0, 100% 32%, 58% 100%, 0% 100%);
        display: flex;
        background-color: rgba(100, 100, 100, 0.7);
        bottom: 0;
        justify-content: center;
        left: -120%;
        position: fixed;
        top: 0;
        width: 50%;
    }
    .list {
        flex-direction: column;
    }
    .list_element {
        margin-bottom: 20px;
    }
    .list_link {
        opacity: 100;
    }
    .list_link:focus {
        color: rgb(0,0,0);
    }
}

