.list {
    margin-top: 100px;
    list-style: none;
    padding: 0;
    width: 80%;
}

.listElement {
    border-radius: 15px;
    margin-top: 20px;
    max-width: 100%;
    padding: 10px;
}

.listElement:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.7);
}

.listElement:nth-child(even) {
    background-color: rgba(198, 174, 174, 0.7);
    max-width: 100%;
}

.listParagraph {
    word-wrap: break-word;
}

.listElementImage {
    cursor: pointer;
    margin-right: 10px;
}

.paragraph {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    left: 50%;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.span {
    text-transform: uppercase;
}

@media(max-width: 1023px) {
    .listParagraph {
        font-size: 0.9rem
    }
    
    .span {
        font-size: 0.9rem
    }
}